* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-size: 62.5%;
	background-color: #2F2F33;
	--ff-primary: 'Roboto', sans-serif;
	--fc-primary: #ffffff;
	--fc-secondary: #e1e1e6;
	--fc-thirdiary: #c4c4cc;
}

body.home {
	background: url('/app/assets/home.png') no-repeat center/cover;
}

body.universe {
	background: url('/app/assets/universe.png') no-repeat center/cover;
}

body.explore {
	background: url('/app/assets/explore.png') no-repeat center/cover;
}

body.not-found {
	background: url('/app/assets/404nf.png') no-repeat center/cover;
}

/*Main navigation menu*/
nav {
	display: flex;
	align-items: center;
	position: absolute;
	font-size: 2.4rem;
	width: 100%;
	height: 12.2rem;
}

ul {
	display: flex;
	justify-content: space-between;
	list-style: none;
	align-items: center;
	width: 49rem;
	margin-left: 7.2rem;
	
}

nav a {
	text-decoration: none;
	color: var(--fc-thirdiary);
	font-family: var(--ff-primary);
}

nav a:hover {
	color: #ffffff;
	font-weight: 700;
	transition: 0.5s;
}
/*Main navigation menu end*/


h1 {
	font-weight: 700;
	font-size: 4.8rem;
	font-family: var(--ff-primary);
	line-height: 6rem;
	margin-bottom: 2.4rem;
	color: var(--fc-secondary);
}

p {
	font-family: var(--ff-primary);
	font-size: 1.8rem;
	line-height: 2.9rem;
	text-align: left;
	color: var(--fc-secondary);
	width: 64.8rem;
	margin-left: 10rem;
}

#app {
	display: flex;
  align-items: center;
	min-height: 100vh;
}

.explore h1,
.universe h1 {
	margin-left: 10rem;
}

.not-found h1 {
	font-size: 8rem;
	padding: 2rem;
	color: var(--fc-primary);
}


/*home page*/
.home,
.not-found {
	display: flex;
  flex-direction: column;
  align-items: center;
	width: 100%;
}

.btn-know-more {
	display: inline-block;
  padding: 1.2rem 3.2rem;
  background: transparent;

	border: 2px solid var(--fc-primary);
	border-radius: 5px;
	color: var(--fc-primary);
	line-height: 24px;
	font-weight: 700;
	font-size: 1.4rem;
	font-family: var(--ff-primary);
	text-decoration: none;
}

.btn-know-more:hover {
	background: var(--fc-primary);
	color: #02799D;
	transition: 0.5s;
}
/*home page end*/
