* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-size: 62.5%;
	background-color: #2F2F33;
	--ff-primary: 'Roboto', sans-serif;
	--fc-primary: #ffffff;
	--fc-secondary: #e1e1e6;
	--fc-thirdiary: #c4c4cc;

	
}

body {
	background-image: url('/app/assets/home.png');
	background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/*MAIN PAGE - NAV MENU*/

nav {
	display: flex;
	align-items: center;
	position: absolute;
	font-size: 2.4rem;
	width: 100%;
	height: 12.2rem;
}

ul {
	display: flex;
	justify-content: space-between;
	list-style: none;
	align-items: center;
	width: 49rem;
	margin-left: 7.2rem;
	
}

nav a {
	text-decoration: none;
	color: var(--fc-thirdiary);
	font-family: var(--ff-primary);
}

nav a:hover {
	color: #ffffff;
	font-weight: 700;
	transition: 0.5s;
}

h1 {
	color: var(--fc-secondary);
	font-weight: 700;
	font-size: 4.8rem;
	font-family: var(--ff-primary);
	line-height: 6rem;
	margin-bottom: 2.4rem;
}



#app {
	display: flex;
  align-items: center;
	min-height: 100vh;
}

/*MAIN PAGE - NAV MENU END*/


/*begin page*/

.begin {
	display: flex;
  flex-direction: column;
  align-items: center;
	width: 100%;
}

.begin a {
	display: inline-block;
  padding: 1.2rem 3.2rem;
  background: transparent;

	border: 2px solid var(--fc-primary);
	border-radius: 5px;
	color: var(--fc-primary);
	line-height: 24px;
	font-weight: 700;
	font-size: 1.4rem;
	font-family: var(--ff-primary);
	text-decoration: none;
}

.begin a:hover {
	background: var(--fc-primary);
	color: #02799D;
	transition: 0.5s;
}
/*begin page end*/

